.TextDescription {
  align-items: center;
  display: flex;
  height: 5.625rem;
  margin-bottom: 0.75rem;
  padding: 0 1.625rem;
}

.TextDescription__text {
  color: var(--cv-user-module-text-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6875rem;
  margin: 0;
}