.UserCv {
  background-color: var(--cv-user-module-background-color);
  color: var(--cv-user-module-text-color);
  min-height: 100vh;
  width: 100vw;
}

.UserCv__interview-student-link {
  background-color: transparent;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  position: absolute;
  left: 11.4375rem;
  color: var(--cv-user-module-text-color);
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.3s;
}
.UserCv__interview-student-link:hover{
  border-bottom: 2px solid var(--user-module-button-color);
}

.UserCv__interview-student-link::before {
  content: url("/src/assets/images/back-arrow.svg");
  height: 1.875rem;
  right: 100%;
  position: absolute;
  top: -7px;
}

.UserCv__container {
  display: grid;
  grid-column-gap: 0.25rem;
  grid-template-columns: 15.625rem 73.5rem;
  padding: 0 15.3125rem;
}
