.UserCv {
  background-color: var(--cv-user-module-background-color);
  color: var(--cv-user-module-text-color);
  height: 100vh;
}

.UserCv__interview-student-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  position: absolute;
  left: 11.4375rem;
  color: var(--cv-user-module-text-color);
  text-transform: capitalize;
  text-decoration: none;
}

.UserCv__interview-student-link::before {
  content: url("/src/assets/back-arrow.svg");
  height: 1.875rem;
  right: 100%;
  position: absolute;
  top: -7px;
}

.UserCv__container {
  display: grid;
  grid-column-gap: 0.25rem;
  grid-template-columns: 15.625rem 1fr;
  padding: 0 15.3125rem;
}
