@import "../../index.css";
.form-adding-csv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    height: 80%;
    width: 40%;
    background-color: var(--user-module-top-bar-color);
}

.form-adding-csv__form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0 5% 0 5%;
    align-items: center;
    justify-content: space-between;
}

.form-adding-csv__form>button{
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: var(--user-module-button-color);
    transition: 0.3s;
    margin-bottom: 30px;
    justify-self: end;
}

.form-adding-csv__form>button:hover{
    background-color: #ed5059;
}

.form-adding-csv__form__title{
    margin-top: 30px;
    line-height: 0;
    justify-content: center;
}
