@import "../../../index.css";
.header{
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: var(--user-module-top-bar-color) ;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    background-image: url("../../../assets/images/logo-megak.webp");;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80%;
    width: 30%
}
.header__section{
    line-height: 100%;
    color: var(--user-module-text-color);
    width: 30%
}
.header__content{
    height: 100%;
    width: 30%
}
.header__btn-logout{
    display: block;
    height: 100%;
    width: 10%;
}
