.UserTable {
  padding-bottom: 3.625rem;
}

.UserTable__container {
  display: flex;
  height: 6.875rem;
  padding: 0.625rem 1.625rem 1rem;
  margin-bottom: 0.75rem;
}

.UserTable__links-container {
  margin-bottom: 0.75rem;
  padding: 1.0625rem 1.625rem 1.1875rem;
}