.hr-all-students-interview__wrapper {
    background-color: var(--user-module-table-color);
    max-width: 1430px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: block;
}

.hr-all-students-interview {
    background-color: var(--user-module-top-bar-color);
    max-width: 1390px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}