@import "../../index.css";
.register-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-color: var(--cv-user-module-background-color);
}
.register-panel__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 42%;
}

.register-panel__form>button{
    width: 80%;
    border: none;
    background-color: var(--user-module-button-color);
    transition: 0.3s;
    justify-self: end;
    margin-bottom: 30px;
    height: 5.5vh;

}
.register-panel__img{
    max-width: 100px;
    height: auto;
}

.register-panel__form>button:hover{
    background-color: #ed5059;
}
