.menu-available-talk {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    max-width: 1430px;
    height: 72px;
    background-color: var( --user-module-table-color);

}

.menu-available-talk__link {
    text-decoration: none;
    color: var(--user-module-text-secondary-color);
    font-size: 18px;
    padding: 23px 57px 23px 34px;
}

.menu-available-talk__selected {
    color: var(--user-module-text-color);
    border-bottom: 1px solid red;
}