.UserProfileForm {
    margin-top: 4rem;
    margin-inline: 8rem;
}

.UserProfileForm__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.UserProfileForm__form-field {
    padding: .3rem;
}

.UserProfileForm__field-label {
    display: flex;
    flex-direction: column;
}
