.sort-popup__back-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--filter-module-background-color);
    opacity: 0.5;
}

.sort-popup__wrapper {
    opacity: 1;
    width: 570px;
    height: 406px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--filter-module-background-color);
}

.sort-popup__title {
    font-size: 16px;
    font-family: "Catamaran",sans-serif;
    color: var(--filter-module-text-color);
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.sort__select {
    display: flex;
    justify-content: center;
    font-family: "Catamaran", sans-serif;
    height: 27px;
    line-height: 27px;
}

.sort__select option {
    font-family: "Catamaran", sans-serif;
}