.list-students-for-booking__wrapper {
    background-color: var(--user-module-table-color);
    /*background-color: red;*/
    max-width: 1430px;
    margin: 0 auto;

    display: block;

}

.list-students-for-booking {
    background-color: var(--user-module-background-color);
    max-width: 1390px;
    list-style: none;
    margin: 0 auto;
    padding: 0;

}