.UserTable__header {
  background-color: var(--cv-user-module-header-description-color);
  font-size: 1.25rem;
  font-weight: 700;
  height: 3.75rem;
  line-height: 3.75rem;
  margin: 0;
  padding-left: 1.625rem;
}